<li>{{answer.answer}}<br>By: <em>{{answer.author}}</em><br> {{answer.time}}<br>Likes: {{answer.vote}}</li>
<button {{action 'upVote' answer value=vote id="vote"}}><i class="thumbs up icon"></i></button>
<button {{action 'downVote' answer value=vote id="vote"}}><i class="thumbs down icon"></i></button>
<button {{action 'delete' answer}}>Delete Answer</button>
