<div class="col-sm-3"></div>
<div class="col-sm-6">
    <h4><strong>{{model.question}}</strong></h4>
    <h6><em>{{model.author}}</em></h6>
    <p>{{model.notes}}</p>
  </div>
</div>
<button {{action 'destroyQuestion' model}}>Delete Question</button>
{{edit-question updateQuestion='updateQuestion' question=model}}
<div class="col-sm-3"></div>
